In [1]:
from dcf import DCF
import pandas as pd

symbol = 'NVDA'
period = 3
proj_rev_growth_rate = [0.35, 0.20, 0.12]
tgr = 0.025
nvda = DCF(symbol, period, proj_rev_growth_rate, tgr)

In [2]:
df_revenue = nvda.revenue(projected=True)
df_revenue

,2019-01-27 00:00:00,2020-01-26 00:00:00,2021-01-31 00:00:00,2022-01-30 00:00:00,1,2,3
Total Revenue,11716000000.00,10918000000.00,16675000000.00,26914000000.00,36333900000.00,43600680000.00,48832761600.00

In [3]:
df_ebitda = nvda.ebitda(projected=True)
df_ebitda

,2019-01-27 00:00:00,2020-01-26 00:00:00,2021-01-31 00:00:00,2022-01-30 00:00:00,1,2,3
EBITDA,4066000000.00,3227000000.00,5819000000.00,11215000000.00,12792047778.29,15350457333.94,17192512214.02

In [4]:
df_capex = nvda.capex(projected=True)
df_capex

,2019-01-27 00:00:00,2020-01-26 00:00:00,2021-01-31 00:00:00,2022-01-30 00:00:00,1,2,3
Capital Expenditures,600000000.00,489000000.00,1128000000.00,976000000.00,1815879958.47,2179055950.16,2440542664.18

In [5]:
df_nwc = nvda.change_in_nwc(projected=True)
df_nwc

,2019-01-27 00:00:00,2020-01-26 00:00:00,2021-01-31 00:00:00,2022-01-30 00:00:00,1,2,3
Change in NWC,9228000000.00,11906000000.00,12130000000.00,24494000000.00,31934353858.02,38321224629.62,42919771585.17

In [6]:
df_taxes = nvda.taxes(projected=True)
df_taxes

,2019-01-27 00:00:00,2020-01-26 00:00:00,2021-01-31 00:00:00,2022-01-30 00:00:00,1,2,3
Income Tax Expense,-245000000.00,174000000.00,77000000.00,189000000.00,75950269.74,91140323.69,102077162.53

In [7]:
df_ufcf = nvda.unlevered_fcf()
df_ufcf

,2019-01-27 00:00:00,2020-01-26 00:00:00,2021-01-31 00:00:00,2022-01-30 00:00:00,1,2,3
Unlevered FCF,-5517000000.00,-9342000000.00,-7516000000.00,-14444000000.00,-21034136307.94,-25240963569.53,-28269879197.87

In [9]:
df = pd.concat([df_revenue, df_ebitda, df_capex, df_nwc, df_taxes, df_ufcf])
df
# yikes

,2019-01-27 00:00:00,2020-01-26 00:00:00,2021-01-31 00:00:00,2022-01-30 00:00:00,1,2,3
Total Revenue,11716000000.00,10918000000.00,16675000000.00,26914000000.00,36333900000.00,43600680000.00,48832761600.00
EBITDA,4066000000.00,3227000000.00,5819000000.00,11215000000.00,12792047778.29,15350457333.94,17192512214.02
Capital Expenditures,600000000.00,489000000.00,1128000000.00,976000000.00,1815879958.47,2179055950.16,2440542664.18
Change in NWC,9228000000.00,11906000000.00,12130000000.00,24494000000.00,31934353858.02,38321224629.62,42919771585.17
Income Tax Expense,-245000000.00,174000000.00,77000000.00,189000000.00,75950269.74,91140323.69,102077162.53
Unlevered FCF,-5517000000.00,-9342000000.00,-7516000000.00,-14444000000.00,-21034136307.94,-25240963569.53,-28269879197.87