In [1]:
import pandas as pd
import yfinance as yf
from dcf import DCF

In [2]:
symbol = 'NVDA'
proj_growth = [0.35, 0.25, 0.15]
tgr = 0.025
nvda = DCF(symbol, proj_growth, tgr)

In [3]:
nvda.wacc()

0.06449237246424815

In [4]:
nvda.prep()

,2019-01-27 00:00:00,2020-01-26 00:00:00,2021-01-31 00:00:00,2022-01-30 00:00:00,1,2,3
Total Cash From Operating Activities,3743000000.00,4761000000.00,5822000000.00,9108000000.00,12295800000.00,15369750000.00,17675212500.00
CapEx,600000000.00,489000000.00,1128000000.00,976000000.00,1733446929.05,2166808661.31,2491829960.51
Free Cash Flow,4343000000.00,5250000000.00,6950000000.00,10084000000.00,14029246929.05,17536558661.31,20167042460.51

In [5]:
nvda.dcf()

,2019-01-27 00:00:00,2020-01-26 00:00:00,2021-01-31 00:00:00,2022-01-30 00:00:00,1,2,3
Total Cash From Operating Activities,3743000000.00,4761000000.00,5822000000.00,9108000000.00,12295800000.00,15369750000.00,17675212500.00
CapEx,600000000.00,489000000.00,1128000000.00,976000000.00,1733446929.05,2166808661.31,2491829960.51
Free Cash Flow,4343000000.00,5250000000.00,6950000000.00,10084000000.00,14029246929.05,17536558661.31,20167042460.51
Present Value of FCF,0.00,0.00,0.00,0.00,13179283658.53,15476019367.83,16719163737.93

Current Share Price (10/24/22 9:15 AM PST): $125.04

In [6]:
nvda.share_price()

                                 All numbers in dollars
Terminal Value                          523423062028.94
Present Value of Terminal Value         433935511139.33
Enterprise Value                        479309977903.63
Cash                                      1990000000.00
Debt                                     10946000000.00
Equity Value                            470353977903.63
Shares                                    2492000000.00
Implied Share Price                              188.75