In [1]:
from dcf import DCF

In [2]:
symbol = 'NVDA'
projected_growth = [0.35, 0.25, 0.15] # YoY
terminal_growth = 0.025
nvda = DCF(symbol, projected_growth, terminal_growth)

In [3]:
nvda.wacc()

0.07472595164522598

In [4]:
nvda.prep()

,2020-01-31 00:00:00,2021-01-31 00:00:00,2022-01-31 00:00:00,1,2,3
Cash Flow From Continuing Operating Activities,4761000000.00,5822000000.00,9108000000.00,12295800000.00,15369750000.00,17675212500.00
CapEx,489000000.00,1128000000.00,976000000.00,1654260167.58,2067825209.48,2377998990.90
Free Cash Flow,5250000000.00,6950000000.00,10084000000.00,13950060167.58,17437575209.48,20053211490.90

In [5]:
nvda.dcf()

,2020-01-31 00:00:00,2021-01-31 00:00:00,2022-01-31 00:00:00,1,2,3
Cash Flow From Continuing Operating Activities,4761000000.00,5822000000.00,9108000000.00,12295800000.00,15369750000.00,17675212500.00
CapEx,489000000.00,1128000000.00,976000000.00,1654260167.58,2067825209.48,2377998990.90
Free Cash Flow,5250000000.00,6950000000.00,10084000000.00,13950060167.58,17437575209.48,20053211490.90
Present Value of FCF,0,0,0,12980109158.27,15096998842.36,16154396050.58

Current Close Price (02/06/23): $210.89

In [6]:
nvda.share_price()

                                 All numbers in dollars
Terminal Value                          413356428546.95
Present Value of Terminal Value         332990227516.93
Enterprise Value                        377221731568.13
Cash                                      1990000000.00
Debt                                     10946000000.00
Equity Value                            368265731568.13
Shares                                    2492000000.00
Implied Share Price                              147.78