In [11]:
import pandas as pd
import yfinance as yf

In [12]:
proj_growth = [0.35, 0.25, 0.15]
nvda = yf.Ticker('NVDA')

In [48]:
op_cf = nvda.cashflow.loc['Total Cash From Operating Activities']
capex = nvda.cashflow.loc['Capital Expenditures']
# CapEx as % of operating cash flow
pcnts_capex_op_cf = capex.multiply(-1).div(op_cf)
avg_pcnt = pcnts_capex_op_cf.mean()
df_prep = nvda.cashflow.loc[['Total Cash From Operating Activities']]
df_prep.loc['CapEx'] = capex.multiply(-1)
df_prep = df_prep[df_prep.columns[::-1]]
df_prep

,2019-01-27,2020-01-26,2021-01-31,2022-01-30
Total Cash From Operating Activities,3.743000e+09,4.761000e+09,5.822000e+09,9.108000e+09
CapEx,6.000000e+08,4.890000e+08,1.128000e+09,9.760000e+08

In [49]:
for i in range(len(proj_growth)):
    proj_op_cf = df_prep.iat[0, -1] * (1 + proj_growth[i])
    proj_capex = avg_pcnt * proj_op_cf
    df_prep[i + 1] = [proj_op_cf, proj_capex]
df_prep

,2019-01-27 00:00:00,2020-01-26 00:00:00,2021-01-31 00:00:00,2022-01-30 00:00:00,1,2,3
Total Cash From Operating Activities,3.743000e+09,4.761000e+09,5.822000e+09,9.108000e+09,1.229580e+10,1.536975e+10,1.767521e+10
CapEx,6.000000e+08,4.890000e+08,1.128000e+09,9.760000e+08,1.733447e+09,2.166809e+09,2.491830e+09

In [50]:

df_prep.loc['Free Cash Flow'] = df_prep.sum()
df_prep

,2019-01-27 00:00:00,2020-01-26 00:00:00,2021-01-31 00:00:00,2022-01-30 00:00:00,1,2,3
Total Cash From Operating Activities,3.743000e+09,4.761000e+09,5.822000e+09,9.108000e+09,1.229580e+10,1.536975e+10,1.767521e+10
CapEx,6.000000e+08,4.890000e+08,1.128000e+09,9.760000e+08,1.733447e+09,2.166809e+09,2.491830e+09
Free Cash Flow,4.343000e+09,5.250000e+09,6.950000e+09,1.008400e+10,1.402925e+10,1.753656e+10,2.016704e+10